<h1>Update DailyQuest</h1>
<%= form_for @quest do |f| %>
	<%= f.label :title %>
	<%= f.text_field :title %> <br>
	<br>
	<%= f.label :content %>
	<%= f.text_field :content %> <br>
	<br>
	<%= f.label :exp %>
	<%= f.text_field :exp %> <br>
	<br>
	<%= f.submit %>
<% end %>